DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/portfolio_db"

JWT_ACCESS_SECRET="your-access-secret"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="your-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=3000
